.gradle/
build/
out/
run/
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.vscode
/rust/target/
/rust/zig-linker-aarch64-linux.bat
/rust/zig-linker-x64-linux.bat
/rust/zig-linker-x64-macos.bat
/rust/zig-linker-aarch64-macos.bat
